
.navbar1{
  font-weight: bolder;
   font-size: 1.em;
  opacity: 0.5;
  z-index: 100;


}

.carousel-item img {
    height: 400px;
 
  }
  .profileinvert{
  filter: invert(100%);
  }
  
  .card-deck img {
    height: 150px;
    
}
.mar{
  margin-left: 10px;
}
.mar2{
  margin-left: 45px;
}
.mar3{
 font-size: 1.3rem;
  margin-left: 50px;
  margin-top: 5px;
}
.mar4{
 margin-bottom: 10px;
 
}
#userheart img{
 
  height: 30px;
  width: 30px;
}
#userview img{
 
  height:30px;
  width: 30px;
  margin-right: 8px;

}
#fixedbutton {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  margin-left:90%;
  padding: 10px;

}
#usercomment img{
 
  height: 30px;
  width: 25px;
  
  margin-right: 9px;
}
