
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(78, 64, 57, 0.6);
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}

.team .member .social a:hover {
  color: #1451AC;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(78, 64, 57, 0.95) 0%, rgba(78, 64, 57, 0.95) 15%, rgba(255, 255, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}

.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}

.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

/*======================TEAM LEADERS CSS========================*/
@media only screen and (max-width: 600px) and (min-width: 0px)  {
.box{
	transform:translate(-50%,-10%);
	width:300px;
	height:300px;
	background:#000;
	border-radius:50%;
	overflow:hidden;
	box-shadow:0 5px 20px rgba(0,0,0,.3);
	margin-top:20%;
	margin-left:50%
	}
}
@media only screen and (max-width: 3000px) and (min-width: 601px){
.box{
transform:translate(-50%,-10%);
	width:250px;
	height:250px;
	background:#000;
	border-radius:50%;
	overflow:hidden;
	box-shadow:0 5px 20px rgba(0,0,0,.3);
	margin-top:7%;
	margin-left:50%;
	}
}
.imgBx{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%; 
	transition:0.5s;
	z-index:2;
	background:black;
}
.imgBx img{
	transition:0.5s;
	width:100%;
	height:100%;

}
.box:hover .imgBx img{
	opacity:0.8;
}
.social-icon{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:3; 
	display:flex;
	margin:0;
	padding:0;
	
}
.social-icon li{
	list-style:none;
}
.details{
	color:white;
	position:absolute;
	bottom:0;
	left:0;
	background:black;
	z-index:4;
	width:100%;
	height:60px;
	box-sizing:border-box;
	padding:10px; 
}
#position{
text-align:center;
top:0px;
bottom:0px;
padding-bottom:50px;
font-weight:bolder;
font-family:sans-serif;
}
/*===================Team leaders css ends=========================*/